DirectoryIndex index.php

SSLOptions +StrictRequire
SSLRequireSSL
SSLRequire %{HTTP_HOST} eq "metatato.com"
ErrorDocument 403 https://metatato.com 

RewriteEngine On

RewriteCond %{SERVER_PORT} !^443$
RewriteRule ^(.*)$ https://metatato.com/$1 [R=permanent]

RewriteCond %{REQUEST_URI} !/static/
RewriteCond %{REQUEST_URI} !/importer/static/
RewriteRule ^(.*)$ index.php?_path=$1 [L,QSA]

<IfModule pagespeed_module>
#ModPagespeed off
  ModPagespeedDisableFilters inline_javascript,rewrite_images,inline_css
  #ModPagespeedEnableFilters combine_javascript
  #ModPagespeedEnableFilters sprite_images
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE application/json      
</IfModule>

php_value post_max_size 100M
php_value upload_max_filesize 100M
php_value max_execution_time 300

php_flag magic_quotes_gpc Off

