.dropzone {
  display: block;
  min-height: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  line-height: 125%;
  font-size: 130%;
  background: #789;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}

.dropzone:hover {
  cursor: pointer;
}

.dropzone .command {
  text-transform: uppercase;
}

.dropzone .subtext {
  font-size: 80%;
}

.dropzone.dragover,
.dropzone:hover {
  background-color: #9ab;
}

