html {
  overflow-y: hidden;
}

body {
  font-size: 100%;
  line-height: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

iframe {
  border: none;
}

[hidden], .hidden {
  display: none;
}

[draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}