.filters {
}

.filters-list {
  max-height: 120px;
  overflow-y: auto; 
  background: #fff;
}

.filter-title {
  padding: 5px 10px;
  font-weight: bold; 
  border: 1px solid #ddd;
  border-width: 1px 0;
}

.filter {
  padding: 2px 10px; 
  display: block;
}

.filter:hover, .filter.dragover {
  background-color: #eee;
}

.filter.active {
  background-color: #ccd;
}

.filter .count {
  float: right;
}

.filters .title {
  margin-bottom: 5px; 
}

.filter .remove {
  margin-left: 5px;
  color: #fff;
  display: none;
}

.filter.active .remove {
  display: inline;
}

.filter#all-items .remove {
  display: none;
}