body {
  background: #fff; 
  font-family: Helvetica, sans-serif; 
  text-align: center;
  color: #230100;
}

a {
  text-decoration: none;
  color: inherit; 
}

.features {
  margin: auto;
  width: 80%;
}

.feature {
  display: block;
  padding: 20px 20px;
  vertical-align: top;
  border-radius: 10px;
  width: 450px;
  background: #eee;
  margin: 20px auto;
  text-align: center;
  text-shadow: 0 1px 1px white;
}

.feature h2 {
  margin-top: 0;
}

a.feature:hover {
  box-shadow: 0 2px 5px 5px rgba(0,0,0,0.5);
  cursor: pointer;
}

.screenshot {
  margin: 10px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 800px) {
  .feature {
    width: auto;
  }
}