.collection-header input {
  box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px;
  border: 1px solid transparent;
  background: inherit;
  border-bottom: 1px solid #ddd;
}

.collection {
  width: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.collection .item {
  overflow-y: auto; /* to clear floats */
  overflow-x: hidden;
  
  border-top: 1px solid #fff;
  border-bottom: 1px solid #bbb;
  
  background: #eee;
  background-repeat: no-repeat;
  background-position: right 25px;
  background-size: auto 24px;
  
  cursor: pointer;
  
  transition-property: background-color; -webkit-transition-property: background-color; -moz-transition-property: background-color;   
  transition-duration: 0.2s; -webkit-transition-duration: 0.2s; -moz-transition-duration: 0.2s;
  transition-timing-function: ease-out; -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out;
}

.collection .item.open-access {
  background-image: url("../binary/open-access.svg");
}

.collection .item.has-files {
  background-image: url("../binary/pdf.svg");
}

.collection .item:hover {
  background-color: #f6f6f6;
}

.collection .item.active {
  background-color: #ccc;
  border-top: 1px solid #bbb;
}

.collection .item .links {
  visibility: hidden;
}

.collection .item.active .links,
.collection .item:hover .links,
.collection .item.loading .links{
  visibility: visible;
}

.collection .item .metadata{
 /* background-color: rgba(255,255,255,0.5);*/
}

.collection .item:hover .metadata,
.collection .item.active .metadata {
  background: transparent;
}

.collection .item.active .title {
  color: #00438A;
}

.collection a.button {
  float: right;
  clear: right;
  margin: 0 0 10px 0;
  display: none;
}
