/* layout */

html {
  width: 100%;
  height: 100%; 
  font-family: Helvetica, sans-serif;
  font-size: 13px;
}

body {
  margin: 0;
  background: #ebebeb;
}

.sections {
  display: -webkit-box; display: -moz-box; /*display: flexbox;*/
  -webkit-box-orient: vertical; -moz-box-orient: vertical; flex-flow: row;
  height: 100%;
  width: 100%;
}

.section {
  -webkit-box-flex: 1; -moz-box-flex: 1;
  display: none; /* will be "-webkit-box" or "-moz-box" when active */
  -webkit-box-orient: horizontal; -moz-box-orient: horizontal;
  width: 100%;
}

.section.active {
  display: block;
  display: -webkit-box; /*display: -moz-box; */ /*display: flexbox*/;
}

[data-role=page] {
  display: -webkit-box; display: -moz-box; /*display: flexbox*/;
  -webkit-box-orient: vertical; -moz-box-orient: vertical; flex-flow: row;
  min-width: 25%;
  width: 33%;
  vertical-align: top; /* for firefox */
}

.section [data-role=page]:last-of-type {
  -webkit-box-flex: 1; -moz-box-flex: 1;
}

[data-role=content] {
  -webkit-box-flex: 1; -moz-box-flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

iframe[data-role=content]{
  display: block;
}

/* theme */

.section {}

.sections-header {
  display: -webkit-box; display: -moz-box; /*display: flexbox*/;
  -webkit-box-orient: horizontal; -moz-box-orient: horizontal;
  min-height: 1em;
}

.section-selector {
  display: inline-block;
  padding: 8px 10px;
  color: inherit;
  text-decoration: none; 
  text-transform: capitalize; 
  cursor: pointer;
  color: #000;
  opacity: 0.5;
}

.section-selector:hover,
.section-selector.active {
  opacity: 1.0;
}

.sections-settings {
  -webkit-box-flex: 1; -moz-box-flex: 1;
  text-align: right;
}

.section [data-role=page]:last-of-type {
  background: #ccc;
  border-top: 1px solid #aaa;
}

