#search-sources {
  width: 20%;
}

#search-items {
  width: 30%;
}

#search-item progress,
#search-item .upload,
#search-item iframe[name=read] {
  display: none;
}

#search-sources form {
  padding: 5px;
  border-right: 1px solid #ddd;
}

.item.in-library .button[data-action=add] {
  display: none !important;
}

.item.in-library {
  opacity: 0.5;
}
